src/
pkg/
*.xz
*.gz
*.otf
*.zip
*.lzh
*.7z

cam/git/cam
growl-for-linux/git/growl-for-linux/
linux-track/
mp3cat/svn/mp3cat/
percol/git/percol/
private/pebble-sdk/
v2c-r/

gvim/vim-repo
cmigemo/git/cmigemo
